[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/Syndelis/imgui
	branch = ode-designer
[submodule "lib/imnodes"]
	path = lib/imnodes
	url = https://github.com/Syndelis/imnodes
	branch = ode-designer
[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/Syndelis/glfw
	branch = ode-designer
[submodule "lib/fmt"]
	path = lib/fmt
	url = https://github.com/Syndelis/fmt
	branch = ode-designer
[submodule "lib/odeir"]
	path = lib/odeir
	url = https://github.com/syndelis/odeir
[submodule "lib/portable-file-dialogs"]
	path = lib/portable-file-dialogs
	url = https://github.com/samhocevar/portable-file-dialogs
